<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Star Admin Free Bootstrap Admin Dashboard Template</title>

  <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
  <!--  <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">-->
  <!--  <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}">-->

  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <!-- endinject -->
  <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>
  <style>

    body {
      margin: 40px 10px;
      padding: 0;
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 14px;
    }

    #calendar {
      max-width: 1400px;
      margin: 0 auto;
    }

  </style>
</head>

<body>
<div class="container-scroller">
  <!--top menu-->
  <nav th:replace="/topmenu::topbar"></nav>
  <div class="container-fluid page-body-wrapper">
    <!-- left menu -->
    <nav th:replace="/leftmenu::sidebar"></nav>
    <!-- main -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div id="calendar"></div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer th:replace="/footer::foot"></footer>
      <!-- main -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>

<script th:src="@{/js/off-canvas.js}"></script>
<script th:src="@{/js/misc.js}"></script>
<script th:src="@{/js/main.min.js}"></script>
<script th:src="@{/js/zh-cn.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script th:src="@{/js/dashboard.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            selectable: true,
            nowIndicator: true,
            businessHours: true,
            droppable: true,
            dayMaxEvents: true, // allow "more" link when too many events
            locale: 'zh-cn',
            events: function (info, successCallback, failureCallback) {
                $.ajax({
                    url: "/web/events",
                    method: "get",
                    dataType: "json",
                    success: function (res) {
                        successCallback(res.data);
                    }
                });
            },
            eventClick: function (info) {
                let event = info.event;
                $("#event_title").html('修改: ' + event.title);
                $("#eventModal").modal({backdrop: true, show: true});
            },
            dateClick: function (info) {
                $("#event_title").html('添加事件: ' + info.dateStr);
                $("#eventModal").modal({backdrop: 'static', show: true});
            }
        });

        calendar.render();
        //$(".fc-button").css("height","auto");
    });

</script>
<!-- End custom js for this page-->

<div class="modal fade" id="eventModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="event_title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>

      <div class="modal-body">

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="title" class="control-label">标题</label>
              <input type="text" class="form-control" name="title" id="title" placeholder="事件标题">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="start" class="control-label">开始时间</label>
              <input type="text" class="form-control" name="start" id="start" placeholder="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="end" class="control-label">结束时间</label>
              <input type="text" class="form-control" name="end" id="end" placeholder="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="content" class="control-label">内容</label>
              <textarea class="form-control" name="content" id="content" placeholder="Boston"></textarea>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="type" class="control-label">类型</label>
              <select class="form-control" name="type" id="type" placeholder="United States">
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="field-6" class="control-label">Zip</label>
              <input type="text" class="form-control" id="field-6" placeholder="123456">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group no-margin">
              <label for="field-7" class="control-label">Personal Info</label>
              <textarea class="form-control autogrow" id="field-7" placeholder="Write something about yourself"></textarea>
            </div>

          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>
</body>

</html>